:host {
  /**
   * @prop --content-color: Example variable for the content color
   */

  --content-color: currentcolor;

  display: block;
}

.content {
  color: var(--content-color, currentcolor);
}
