/**
 * @prop --button-color: The button text color
 * @prop --button-background: The button background color
 */

:host {
  display: inline-block;
  font-size: 1rem;

  --button-background: #0077b6;
  --button-color: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;

  button {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 2em;
    border: none;
    cursor: pointer;

    color: var(--button-color);
    background-color: var(--button-background);
  }

  div {
    font-size: 5em;
  }
}